services:
  axon-server:
    image: axoniq/axonserver:latest
    environment:
      # 初期設定(Context作成)を手動でしなくてもよくなる
      - 'AXONIQ_AXONSERVER_STANDALONE=TRUE'
    volumes:
      - axonserver-events:/axonserver/events
    ports:
      - 8024:8024
      - 8124:8124
      - 8224:8224
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8024/actuator/health"]
      interval: 2s
      timeout: 2s
      retries: 30
      start_period: 5s

  mysql:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: passw0rd
      MYSQL_DATABASE: inaba
    volumes:
      - mysql-store:/var/lib/mysql
    ports:
      - 3306:3306
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1"]
      interval: 2s
      timeout: 2s
      retries: 30
      start_period: 5s

  # S3互換のファイルストレージ
  # S3のSDKからアクセスできるので実装のすり替えをしなくてよい。
  minio:
    image: minio/minio:latest
    environment:
      - MINIO_ROOT_USER=root
      - MINIO_ROOT_PASSWORD=password
    ports:
      - 9000:9000
      - 9001:9001
    command: "server /data --console-address :9001"
    volumes:
      - minio-store:/data

volumes:
  axonserver-events:
  mysql-store:
  minio-store: