@page "/"
@using Grpc.Net.Client;
@using Inaba.Presentation.gRPC.Image;
@using Inaba.Presentation.gRPC.Common;

@inject GrpcChannel Channel

<PageTitle>Index</PageTitle>

<h1>@_message</h1>

@if(_res != null)
{
    @foreach (var i in _res.Items)
    {
        <p>@i.Title</p>
        <p>@i.User.UserName</p>
    }
}


Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


@code {
    private string _message;
    private GetImageRankingsResponse _res;

    protected async override Task OnInitializedAsync()
    {
        var clinet = new ImageService.ImageServiceClient(Channel);
        var request = new GetImageRankingsRequest()
        {
            Agerating = AgeRating.R18,
            RankingInterval = RankingInterval.Daily,
            PageCondition = new PagingCondition {
                PageNumber = 1,
                PageSize = 15
            }
        };

        //_res = await clinet.GetImageRankingsAsync(request);
    }
}
