name: test
defaults:
  run:
    # 明示的にshellを指定すると "pipefail"が暗黙的に設定され安全性が向上する
    shell: bash
on:
  pull_request:
concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  # 新しい変更を検知した際、すでに実行中のジョブはキャンセルする (プルリクのテストは最新のコードベースだけ検証したいため)
  cancel-in-progress: true
jobs:
  linter-formatter:
    runs-on: ubuntu-latest
    steps:
      - name: "checkout"
        uses: actions/checkout@v6

      - name: "setup java"
        uses: actions/setup-java@v5
        with:
          distribution: 'corretto'
          java-version: '21'

      - name: "setup gradle"
        uses: gradle/actions/setup-gradle@v5

      - name: "ktlint"
        run: ./gradlew ktlintCheck

  unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: "checkout"
        uses: actions/checkout@v6

      - name: "setup java"
        uses: actions/setup-java@v5
        with:
          distribution: 'corretto'
          java-version: '21'

      - name: "setup gradle"
        uses: gradle/actions/setup-gradle@v5

      - name: "test"
        run: ./gradlew :inaba-service:test