name: test
defaults:
  run:
    # 明示的にshellを指定すると "pipefail"が暗黙的に設定され安全性が向上する
    shell: bash
on:
  pull_request:
concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true
jobs:
  ktlint:
    runs-on: ubuntu-latest
    steps:
      - name: "checkout"
        uses: actions/checkout@v6

      - name: "setup gradle"
        uses: actions/setup-java@v5
        with:
          distribution: 'corretto'
          java-version: '21'
          cache: 'gradle'

      - name: "./gradleファイルを実行する権限を付与"
        run: chmod +x ./gradlew

      - name: "ktlint"
        run: ./gradlew ktlintCheck

  unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: "checkout"
        uses: actions/checkout@v6

      - name: "setup gradle"
        uses: actions/setup-java@v5
        with:
          distribution: 'corretto'
          java-version: '21'
          cache: 'gradle'

      - name: "./gradleファイルを実行する権限を付与"
        run: chmod +x ./gradlew

      - name: "build"
        run: ./gradlew :inaba-service:build -x test

      - name: "test"
        run: ./gradlew :inaba-service:test