name: test
on:
  pull_request:
    paths: ['**/*.kt', '**/*.build.gradle.kts']
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: "checkout"
        uses: actions/checkout@v4

      - name: "setup java"
        uses: actions/setup-java@v5
        with:
          distribution: 'corretto'
          java-version: '21'
          cash: 'gradle'

      - name: "build"
        run: ./gradle build

      - name: "test"
        run: ./gradle test