name: test
on:
  pull_request:
    paths: ['**/*.kt', '**/*.build.gradle.kts']
  push: #TODO消す
jobs:
  ktlint:
    runs-on: ubuntu-latest
    steps:
      - name: "checkout"
        uses: actions/checkout@v4

      - name: "ktlint"
        run: ./gradlew ktlintCheck

  test:
    runs-on: ubuntu-latest
    steps:
      - name: "checkout"
        uses: actions/checkout@v4

      - name: "setup java"
        uses: actions/setup-java@v5
        with:
          distribution: 'corretto'
          java-version: '21'
          cache: 'gradle'

      - name: "./gradleファイルを実行する権限を付与"
        run: chmod +x ./gradlew

      - name: "build"
        run: ./gradlew :inaba-service:build

      - name: "test"
        run: ./gradlew :inaba-service:test